.homepage {
    display: flex;
}

.homepage-left {
    flex: 0.3;
    margin-top: 7vh;
    position: fixed;
    width: 320px;
}

.options .field img {
    padding: 0 10px 0 0;
    background-color: transparent;
    border-radius: unset;
}

.options {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0 -2px 15px 2px #ADADAD;
    box-shadow: 0 -2px 15px 2px #ADADAD;
    height: 290px;
    width: 290px;
    padding: 5px;
}

.post-header-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.post-header-right img {
    padding: 10px;
    background-color: #f0f2f5;
    border-radius: 50%;
}

.post-header-field img {
    margin-right: 10px;
}

.post-userinfo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.post-userinfo option {
    font-family: 'Poppins', sans-serif;
}

.post-header-content {
    margin: 10px;
    max-height: 330px;
    overflow-y: scroll;
}

.post-header-content input {
    padding-top: 5px;
}

.post-header-content::-webkit-scrollbar {
    display: none;
}

.post-userinfo p {
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.homepage-right {
    flex: 0.3;
    position: fixed;
    right: 0;
    width: 320px;
    margin-right: 10px;
}

.homepage-center {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    margin-left: 320px;
    margin-right: 320px;
}

.post-userinfo {
    font-weight: bold;
}

.post-header-right {
    display: flex;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    background-color: white;
    -webkit-box-shadow: 0 -2px 15px 2px #ADADAD;
    box-shadow: 0 -2px 15px 2px #ADADAD;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-form-header {
    display: flex;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ADADAD;
    align-items: center;
}

.form-title {
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.post-form-header button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #f0f2f5;
    color: #65676b;
    border: none;
    outline: none;
    margin-right: 10px;
}

.post-creation-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-submit-btn {
    margin: 10px;
}

.post-submit-btn button {
    height: 35px;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    background-color: #1877f2;
    border-radius: 8px;
}

.post-creation-header button {
    margin-left: 10px;
    width: 100%;
    border-radius: 15px;
    height: 40px;
    border: none;
    text-align: justify;
    font-size: 18px;
    background-color: #f0f2f5;
    color: #65676b;
}

.post-creation-header button:hover {
    background-color: #d2d2d2;
}

.center {
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-form-main::-webkit-scrollbar {
    display: none;
}

#mime {
    height: 100%;
    width: 100%;
}

.image {
    display: none;
}

.post-form {
    position: fixed;
    top: 18%;
    width: 500px;
    max-height: 570px;
    -webkit-box-shadow: 0 -2px 15px 2px #ADADAD;
    box-shadow: 0 -2px 15px 2px #ADADAD;
    border-radius: 15px;
    display: none;
    background-color: white;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post-img-video img {
    width: 600px;
    height: 650px;
}

.post-creation {
    background-color: white;
    -webkit-box-shadow: 0 -2px 15px 2px #ADADAD;
    box-shadow: 0 -2px 15px 2px #ADADAD;
    padding: 10px;
    border-radius: 10px;
}

.field {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.field button {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    border: none;
    outline: none;
}

.field img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.post-creation-header img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.post-header-field img{
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.comment-user img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.post-user-avatar img{
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.options .field img {
    height: 20px;
    width: 20px;
}

.field:hover {
    border-radius: 10px;
    background-color: #f0f2f5;
}

.utils {
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
}

.shortcut {
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
}

.post-img-video {
    display: flex;
    justify-content: center;
    background-color: #b2b2b2;
}

.shortcut h3 {
    font-family: 'Poppins', sans-serif;
}

.friend-header .title {
    font-family: 'Poppins', sans-serif;
}

.icons {
    display: flex;
}

.icons img {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.friend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utils .field img {
    margin-right: 10px;
}

.more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 0 10px 0 10px;
    border: 1px solid #ADADAD;
    border-radius: 15px;
}

.more-info-func {
    display: flex;
    align-items: center;
}

.more-info-func img {
    margin-right: 5px;
}

.post-attr {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding: 10px 0 10px 0;
}

.post-attr .icon {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: center;
    width: 100%;
}

.post-attr .icon:hover {
    border-radius: 10px;
    background-color: #f0f2f5;
}

.post-attr .icon img {
    margin-right: 5px;
}

@media only screen and (max-width: 1300px) {
    .homepage-left {
        display: none;
    }

    .homepage-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 20px;
    }

    .post {
        display: flex;
        flex-direction: column;
        flex: 0.95;
    }
}

.post-footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.post-user-avatar {
    margin-right: 10px;
}

@media only screen and (max-width: 990px) {
    .homepage-right {
        display: none;
    }

    .center {
        flex: 0.8;
        display: flex;
        justify-content: center;
    }

    .homepage-center {
        margin-right: 10px;
    }

    .post-img-video img {
        width: 60%;
        height: 500px;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.post-header-left {
    display: flex;
    align-items: center;
}

.time-info {
    display: flex;
    align-items: center;
}

.time-info img {
    margin-left: 5px;
}

.msg-info-user span {
    font-weight: 200;
    font-size: small;
}

.post-info {
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 660px) {
    .homepage-right {
        display: none;
    }

    .center {
        flex: 1;
    }

    .homepage-center {
        margin-right: 10px;
    }

    .post-img-video img {
        width: 100%;
        height: 500px;
    }
}

.icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0 10px 0;
}

.comment {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.comment-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 5px 0;
}

.comment-field button {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.comment-field button img {
    height: 24px;
    width: 24px;
}

.post-userinfo p {

}

.comment-input {
    flex: 1;
    width: 100%;
    margin-block-end: 0 !important;
}

.comment-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-user img {
    margin-right: 5px;
}

.comment-input input {
    border-radius: 15px;
    height: 40px;
    width: 100%;
    background-color: #f0f2f5;
    color: #65676b;
    border: none;
    outline: none;
    margin-right: 10px;
    padding-left: 15px;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.msg-info-user {
    padding: 10px;
    border-radius: 15px;
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 88%;
}

.msg-info {
    font-weight: 300;
    font-size: medium;
    overflow-wrap: break-word;
}